html, body, #page, #main {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #555;
  font-family:  Helvetica, Arial, sans-serif;
}

@import (inline) "./../node_modules/codemirror/lib/codemirror.css";
@import (inline) "./../node_modules/codemirror/theme/monokai.css";
@import (inline) "./../node_modules/codemirror/addon/dialog/dialog.css";
.CodeMirror {
  height: 100%;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

.page-column() {
  background: #F7F7F7;
  height: 100%;

  a {
    color: #444;
  }
}

#page {
  width: 100%;

  #left {
    .page-column();
    float: left;
    width: 200px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 1em;
        &.selected {
          background: #E4E1E1;
          a {
            font-weight: bold;
          }
        }
      }
    }
  }

  #progress-bar {
    display: block;
    position: absolute;
    width: 2px;
    top: 0;
    left: 199px;
    background: #ccc;
  }

  #main {
    margin-left: 200px;
  }

  #right {
    .page-column();
    float: right;
    width: 70px;
    text-align: center;

    padding: 0 1em;
    border-left: 1px solid #ddd;
  }

  #history {
    display: none;
    position: absolute;
    top: 12px;
    right: 90px;
    min-height: 120px;
    z-index: 1000;
    background: #fff;
    padding: 0 1em 0 2em;
    border: 1px solid #bbb;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.15);

    &.visible {
      display: block;
    }

    p {
      position: relative;
    
      input[type=checkbox] {
        position: absolute;
        top: -1px;
        left: -24px;
      }

      small {
        color: #777;
      }
      .adds {
        color: green;
      }
      .dels {
        color: red;
      }
    }
    .new-buffer {
      position: relative;
      top: 14px;
      left: -10px;
    }
  }
}

// http://cssarrowplease.com/
.arrow_box_right {
  position: absolute;
  top: 96px;
  right: -1px;
  background: #fff;
  border: 1px solid #fff;
}
.arrow_box_right:after, .arrow_box_right:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_right:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.arrow_box_right:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #bbb;
  border-width: 11px;
  margin-top: -11px;
}

#save.changed {
  background: rgb(0, 123, 244);
  color: white;
  border-radius: 4px;
  border: 1px solid #204FCA;
}