html, body, #page, #editor {
  height: 100%;
  margin: 0;
  padding: 0;
}

@import (inline) "./../node_modules/codemirror/lib/codemirror.css";
@import (inline) "./../node_modules/codemirror/theme/monokai.css";
@import (inline) "./../node_modules/codemirror/addon/dialog/dialog.css";
.CodeMirror {
  height: 100%;
}

.page-column() {
  background: #F7F7F7;
  color: #555;
  font-family:  Helvetica, Arial, sans-serif; //Verdana, Geneva, sans-serif;
  height: 100%;

  a {
    color: #444;
  }
}

#page {
  width: 100%;

  #files {
    .page-column();
    float: left;
    width: 200px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 1em;
        &.selected {
          background: #E4E1E1;
          a {
            font-weight: bold;
          }
        }
      }
    }
  }

  #editor {
    margin-left: 200px
  }

  #tools {
    .page-column();
    float: right;
    width: 40px;

    padding: 0 1em;
    border-left: 1px solid #ddd;
  }
}